 @media(max-width:740px){ 
    #nav>li{
        display: none;
    }
    #header .search-btn{
        display: none;
    }
   .mobile-menu{
         display: block;
     }

}  
@media(min-witdh:741px){
    .mobile-menu{
        display:block;
    }
}


